html, body{
    height: 100%;
}
html, body, pre, code, kbd, samp {
    font-family: 'Press Start 2P', cursive; 
}
.container{
    background-color: rgba(132, 177, 230, 0.9);
}
body{
    background-image: url(../img/bg.jpg);
    /* background-color: rgba(5, 5, 5, 0.904); */
}